/* pagelines Trans Framework by Andrew Powers -- GPL licensed*/

.black90{background:transparent url(../images/trans/black90.png) 0 0;}
.black80{background:transparent url(../images/trans/black80.png) 0 0;}
.black70{background:transparent url(../images/trans/black70.png) 0 0;}
.black60{background:transparent url(../images/trans/black60.png) 0 0;}
.black50{background:transparent url(../images/trans/black50.png) 0 0;}
.white90{background:transparent url(../images/trans/white90.png) 0 0;}
.white80{background:transparent url(../images/trans/white80.png) 0 0;}
.white70{background:transparent url(../images/trans/white70.png) 0 0;}
.white60{background:transparent url(../images/trans/white60.png) 0 0;}
.white50{background:transparent url(../images/trans/white50.png) 0 0;}
