input.disabled {
	border: 1px solid #F2F2F2;
	background-color: #F2F2F2;
}

input.required, textarea.required {
	/*border: 1px solid #00A8E6;*/
}
input.validation-failed, textarea.validation-failed {
	border: 1px solid #FF3300;
	color : #FF3300;
}
input.validation-passed, textarea.validation-passed {
	/*border: 1px solid #00CC00;
	color : #000;*/
}

.validation-advice {
	margin: 5px 0;
	padding: 5px;
	background-color: #FF3300;
	color : #FFF;
	font-weight: bold;
}

.custom-advice {
	margin: 5px 0;
	padding: 5px;
	background-color: #C8AA00;
	color : #FFF;
	font-weight: bold;
}

.validation-advice, .required { color:#EB340A; }
.validation-advice {
    clear:both;
    min-height:15px;
    margin-top:3px;
    background:url("../img/flecha_arriba.gif") no-repeat 2px 1px;
    padding-left:17px;
    font-size:.95em;
    font-weight:bold;
    line-height:1.25em;
    }
.validation-failed {
    border:1px dashed #EB340A !important;
    background:#faebe7 !important;
    }
label.required {
    font-weight:bold;
    }
p.required {
    font-size:.95em;
    text-align:right;
    }